#changepassword_page{
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #59ADFF;
    padding: 0%;
}

#changepassword_content{
    background-color: white;
    min-width: 30vw;
    float: right;
    padding: 4em;
    height: 100%;
}

#changepassword_content p{
    clear: both;
    float: right;
    font-weight: 300;
    padding-bottom: 7%;
}

#changepassword_title{
    font-size: larger;
}

#changepassword_content button{
    clear: both;
    float: left;
    margin-top: 7%;
    margin-bottom: 7%;
}