#menucontrol{
  display: none;
  position: absolute;
  right: 5em;
  z-index: 5;
}

@media (max-width: 700px){
  #menucontrol{
    display: initial;
  }
}

#sidebar{
  position: relative;
  height: 100vh;
}

@media (max-width:900px){
    #sidebar{
      min-width: 50px;
    }
}

.heading{
  padding: 10% 0;
  text-align: center;
}

.heading h4{
  color: black;
}

.heading p{
  color: #59ADFF;
}

.menu_buttons{
  text-align: right;
  background-color: #59ADFF;
  border-radius: 0;
  border: none;
  color:white
}

.active_buttons{
  background-color: white;
  color: #59ADFF;
}

#but4{
  margin-top: 30%;
}

#brand{
  position: absolute;
  bottom: 30px;
  left: 30px;

}

@media (max-width:900px){
  #brand div{
    display: none;
  }  
}


#headingTitle{
  float: left;
  margin-left: 50px;
}

#headingButton{
  float: right;
  color: #59ADFF;
  border: 1px solid #59ADFF;
  margin: 40px;
  border-radius: 0%;
}

#content{
  padding: 0 50px;
  height: 68vh;
}